container {
    font: x-large;
    text-align: center;
    background-: aquamarine;
    color: black;
}

.hide {
    display: inherit;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: inherit;
}
#reset-container, h1 {
    text-align: center;
}
